A step by step guide to uploading files to Github.docx
HW1_Making_an_embedded_system/._Rapport final diag_R_Neijens.docx
HW1_Making_an_embedded_system/HW#1_Making an Embedded System.docx
HW1_Making_an_embedded_system/Instructions/Idea Project Diagram and Peer Grading.pdf
HW1_Making_an_embedded_system/Working files/ADXL313-1503823.pdf
HW1_Making_an_embedded_system/Working files/Datasheet_e-peas_AEM30300_energy_harvesting_v1.1.pdf
HW1_Making_an_embedded_system/Working files/ENG_DS_Sleep_Monitor_Strip_Datasheet_en_A-1659584.pdf
HW1_Making_an_embedded_system/Working files/Hardware diagram.drawio
HW1_Making_an_embedded_system/Working files/Hardware diagram.jpg
HW1_Making_an_embedded_system/Working files/Hierarchy of control diagram.drawio
HW1_Making_an_embedded_system/Working files/Hierarchy of control diagram.jpg
HW1_Making_an_embedded_system/Working files/Newborn bodysuit.url
HW1_Making_an_embedded_system/Working files/Newborn_bodysuit.png
HW1_Making_an_embedded_system/Working files/Software block diagram.drawio
HW1_Making_an_embedded_system/Working files/Software block diagram.jpg
HW1_Making_an_embedded_system/Working files/edlc_edlc371420_en.pdf
HW1_Making_an_embedded_system/Working files/sensor_ntc-thermistor_assembly_en.pdf
HW2_Investigate_Project_Boards/HW2_Investigate_Project_Boards.docx
HW2_Investigate_Project_Boards/Instructions/HW#2_Investigate Project Boards.pdf
HW2_Investigate_Project_Boards/Instructions/Investigate A Board.xlsx
HW2_Investigate_Project_Boards/Working files/Hardware_Diagram_F429.drawio
HW2_Investigate_Project_Boards/Working files/Hardware_Diagram_F429.jpg
HW2_Investigate_Project_Boards/Working files/Hardware_Diagram_Sparkfun_nRF52840.drawio
HW2_Investigate_Project_Boards/Working files/Hardware_Diagram_Sparkfun_nRF52840.jpg
HW2_Investigate_Project_Boards/Working files/STM32F429ZI/STM32F429ZI_MCU_User Manual.pdf
HW2_Investigate_Project_Boards/Working files/STM32F429ZI/STM32F429i_Discovery_Data Brief.pdf
HW2_Investigate_Project_Boards/Working files/STM32F429ZI/getting-started-with-stm32f429-discovery-software-development-tools.pdf
HW2_Investigate_Project_Boards/Working files/STM32F429ZI/stm32f429ng_datasheet.pdf
HW2_Investigate_Project_Boards/Working files/Sparkfun Pro nRF52840 Mini/Raytac_MDBT50Q.pdf
HW2_Investigate_Project_Boards/Working files/Sparkfun Pro nRF52840 Mini/SparkFun Pro nRF52840 Mini.txt
HW2_Investigate_Project_Boards/Working files/Sparkfun Pro nRF52840 Mini/block diagram of the NRF52840-PDK development kit.png
HW2_Investigate_Project_Boards/Working files/Sparkfun Pro nRF52840 Mini/nRF52840Mini_Graphical_Datasheet.jpg
HW2_Investigate_Project_Boards/Working files/Sparkfun Pro nRF52840 Mini/nRF52840_PS_v1.7.pdf
HW2_Investigate_Project_Boards/Working files/Sparkfun Pro nRF52840 Mini/nrf52840-soc-v3.0.pdf
HW3_Make_Blinky/HW3_Make_Blinky.docx
HW3_Make_Blinky/Instructions/Make Blinky.pdf
HW3_Make_Blinky/Working Files/MB1136.pdf
HW3_Make_Blinky/Working Files/STM32 PWM calculation sheet.xlsx
HW3_Make_Blinky/Working Files/stm32l47xxx-reference manual.pdf
HW4_State_Machines_&_Interrupts/State machines and interrupts.pdf
Other students' work/HM3_Graeme Gets/week-three/assets/APB-clocks.JPG
Other students' work/HM3_Graeme Gets/week-three/assets/Week-three-blinky.m4v
Other students' work/HM3_Graeme Gets/week-three/code/.cproject
Other students' work/HM3_Graeme Gets/week-three/code/.gitignore
Other students' work/HM3_Graeme Gets/week-three/code/.mxproject
Other students' work/HM3_Graeme Gets/week-three/code/.project
Other students' work/HM3_Graeme Gets/week-three/code/.settings/language.settings.xml
Other students' work/HM3_Graeme Gets/week-three/code/.settings/stm32cubeide.project.prefs
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/debounceController.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/gpio.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/ledController.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/main.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/stm32f4xx_hal_conf.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/stm32f4xx_it.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/tim.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Inc/usart.h
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/debounceController.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/gpio.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/ledController.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/main.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/stm32f4xx_hal_msp.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/stm32f4xx_it.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/syscalls.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/sysmem.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/system_stm32f4xx.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/tim.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Src/usart.c
Other students' work/HM3_Graeme Gets/week-three/code/Core/Startup/startup_stm32f401retx.s
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f401xe.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f4xx.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Device/ST/STM32F4xx/Include/system_stm32f4xx.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Device/ST/STM32F4xx/LICENSE.txt
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/cmsis_armcc.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/cmsis_armclang.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/cmsis_compiler.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/cmsis_gcc.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/cmsis_iccarm.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/cmsis_version.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_armv8mbl.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_armv8mml.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm0.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm0plus.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm1.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm23.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm3.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm33.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm4.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_cm7.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_sc000.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/core_sc300.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/mpu_armv7.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/mpu_armv8.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/Include/tz_context.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/CMSIS/LICENSE.txt
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy/stm32_hal_legacy.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_cortex.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_def.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma_ex.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_exti.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ex.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ramfunc.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio_ex.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr_ex.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc_ex.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_tim.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_tim_ex.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_uart.h
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/LICENSE.txt
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.c
Other students' work/HM3_Graeme Gets/week-three/code/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.c
Other students' work/HM3_Graeme Gets/week-three/code/STM32F401RETX_FLASH.ld
Other students' work/HM3_Graeme Gets/week-three/code/STM32F401RETX_RAM.ld
Other students' work/HM3_Graeme Gets/week-three/code/week-three-401RE Debug.launch
Other students' work/HM3_Graeme Gets/week-three/code/week-three-401RE.ioc
Other students' work/HM3_Graeme Gets/week-three/readme.md
